mixin index-smi
    .index-smi
        .section-title СМИ о 
            span Roz Mary
        .smi-logo-list
            .logo-item
                img(src="images/smi-logo/1.png", alt="")
            .logo-item
                img(src="images/smi-logo/2.png", alt="")
            .logo-item
                img(src="images/smi-logo/3.png", alt="")
            .logo-item
                img(src="images/smi-logo/4.png", alt="")
            .logo-item
                img(src="images/smi-logo/5.png", alt="")
