mixin index-articles
    .index-articles
        .section-title.text-lg-start Блог
        .articles-list
            .articles-item
                .articles-item__preview
                    .articles-item__tag Статья
                    img(src="images/articles-1.jpg", alt="")
                .articles-item__body
                    .articles-item__title 
                        strong Тема: 
                        | Тоник или Гидролат. Что выбрать?
                    a(href="#").articles-item__link Читать подробнее
            .articles-item
                .articles-item__preview
                    .articles-item__tag Статья
                    img(src="images/articles-2.jpg", alt="")
                .articles-item__body
                    .articles-item__title 
                        strong Тема: 
                        | Тоник или Гидролат. Что выбрать?
                    a(href="#").articles-item__link Читать подробнее
            