<div class="counter">
    <button class="counter__btn counter__btn_minus" type="button">-</button>
    <input type="number" class="counter__control" value="1" min="1" {{#maxQuantity}}max="{{.}}"{{/maxQuantity}}>
    <button class="counter__btn counter__btn_plus" type="button">+</button>
</div>