mixin popular-reels
    .popular-reels.section-sliders
        .section-title  Популярные видео
            img(src="images/popular-reels.svg", alt="")
            | Reels
        .site-slider.reels-slider
            .swiper-button-prev.button
                +svg("arrow-next")
            .slider-reels.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="images/reels/reels1.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels2.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels3.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels4.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels5.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels6.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels7.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels8.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels9.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels10.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels11.jpg", alt="")
                    .swiper-slide
                        img(src="images/reels/reels12.jpg", alt="")
            .swiper-button-next.button
                +svg("arrow-next")
        .swiper-pagination