.index-efirs {
    margin-bottom: 128px;

    @include small {
        margin-bottom: 15px;
    }
}

.slider-efirs {

    .swiper-slide {
        max-width: 625px;
    }
}

.efir-item {
    position: relative;
    background: #FFFFFF;
    border-radius: 24px;

    &__preview {
        position: relative;

        img {
            border-radius: 24px;
        }
    }

    &__time {
        padding: 8px 16px;
        background-color: #FFF;
        border-radius: 65px;
        font-weight: 400;
        position: absolute;
        left: 40px;
        bottom: 32px;

        @include small {
            left: 16px;
            bottom: 16px;
        }
    }

    &__body {
        padding: 24px;

        @include small {
            padding: 16px 12px;
        }
    }

    &__title {
        font-size: 24px;
        margin-bottom: 24px;
        min-height: 62px;

        @include laptop {
            font-size: 18px;
        }

        @include small {
            font-size: 16px;
            min-height: 42px;
        }
    }
}

.efir-item-porducts {
    display: flex;
    align-items: center;
    gap: 7px;

    &__count {
        width: 48px;
        height: 48px;
        background-color: #F0F0F0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 400;
        border-radius: 7px;
    }
}