mixin index-efirs
    .index-efirs.section-sliders
        .section-title В эфире
        .site-slider
            .swiper-button-prev.button.reels-prev
                +svg("arrow-next")
            .slider-efirs.swiper
                .swiper-wrapper
                    .swiper-slide
                        .efir-item
                            .efir-item__preview
                                img(src="images/efir-1.jpg", alt="")
                                .efir-item__time 1:14:45
                            .efir-item__body
                                .efir-item__title 
                                    strong Тема: 
                                    | Карбокситерапия - домашняя процедура для молодости и свежести кожи.
                                .efir-item-porducts
                                    .efir-item-porducts__img
                                        img(src="images/efir-item-porducts-1.jpg", alt="")
                                    .efir-item-porducts__count 2
                    .swiper-slide
                        .efir-item
                            .efir-item__preview
                                img(src="images/efir-2.jpg", alt="")
                                .efir-item__time 1:14:45
                            .efir-item__body
                                .efir-item__title 
                                    strong Тема: 
                                    | Уход за кожей вокруг глаз.
                                .efir-item-porducts
                                    .efir-item-porducts__img
                                        img(src="images/efir-item-porducts-2.jpg", alt="")
                                    .efir-item-porducts__count 1
                    .swiper-slide
                        .efir-item
                            .efir-item__preview
                                img(src="images/efir-1.jpg", alt="")
                                .efir-item__time 1:14:45
                            .efir-item__body
                                .efir-item__title 
                                    strong Тема: 
                                    | Карбокситерапия - домашняя процедура для молодости и свежести кожи.
                                .efir-item-porducts
                                    .efir-item-porducts__img
                                        img(src="images/efir-item-porducts-1.jpg", alt="")
                                    .efir-item-porducts__count 2
                    .swiper-slide
                        .efir-item
                            .efir-item__preview
                                img(src="images/efir-2.jpg", alt="")
                                .efir-item__time 1:14:45
                            .efir-item__body
                                .efir-item__title 
                                    strong Тема: 
                                    | Уход за кожей вокруг глаз.
                                .efir-item-porducts
                                    .efir-item-porducts__img
                                        img(src="images/efir-item-porducts-2.jpg", alt="")
                                    .efir-item-porducts__count 1
            .swiper-button-next.button.reels-next
                +svg("arrow-next")
        .swiper-pagination