mixin index-menu
    .index-menu
        ul.menu
            li.menu__item
                a(href="#").menu__link О бренде
            li.menu__item
                a(href="#").menu__link Вся косметика
            li.menu__item
                a(href="#").menu__link Уход для сухой кожи
            li.menu__item
                a(href="#").menu__link Уход для нормальной кожи
            li.menu__item
                a(href="#").menu__link Для жирной и проблемной кожи
            li.menu__item
                a(href="#").menu__link Антивозрастной уход
            li.menu__item
                a(href="#").menu__link Очищение и тонизация
            li.menu__item
                a(href="#").menu__link Кремы и сыворотки
            li.menu__item 
                a(href="#").menu__link Маски и пилинги
            li.menu__item
                a(href="#").menu__link Для тела
            li.menu__item
                a(href="#").menu__link Защита от солнца
            li.menu__item
                a(href="#").menu__link Эфирные масла
            li.menu__item
                a(href="#").menu__link Аромабоксы
        .slider-index.swiper
            .swiper-wrapper
                .swiper-slide
                    .card-slider-one
                        .card-slider-one__preview
                            img(src="images/card-1.jpg", alt="")
                        .card-slider-one__bottom
                            .row
                                .col.mb-1.mb-md-0 Новинки напрямую из 
                                    strong нашей лаборатории красоты
                                .col-auto
                                    a(href="").button 
                                        +svg("arrow-up")
                .swiper-slide
                    .card-slider-two 
                        .card-slider-two__preview
                            img(src="images/natalya.jpg", alt="")
                        .card-slider-two__main
                            .persona-name Наталия Ткаченко
                            .persona-desc 
                                img(src="images/natalya-icon.svg", alt="") 
                                | Химик косметолог создатель бренда косметики Roz Mary
                            a(href="#").button.w-100 Подробнее
                .swiper-slide
                    .card-slider-one
                        .card-slider-one__preview
                            img(src="images/card-1.jpg", alt="")
                        .card-slider-one__bottom
                            .row
                                .col Новинки напрямую из 
                                    strong нашей лаборатории красоты
                                .col-auto
                                    a(href="").button 
                                        +svg("arrow-up")
                .swiper-slide
                    .card-slider-two 
                        .card-slider-two__preview
                            img(src="images/natalya.jpg", alt="")
                        .card-slider-two__main
                            .persona-name Наталия Ткаченко
                            .persona-desc 
                                img(src="images/natalya-icon.svg", alt="") 
                                | Химик косметолог создатель бренда косметики Roz Mary
                            a(href="#").button.w-100 Подробнее
                .swiper-slide
                    .card-slider-one
                        .card-slider-one__preview
                            img(src="images/card-1.jpg", alt="")
                        .card-slider-one__bottom
                            .row
                                .col Новинки напрямую из 
                                    strong нашей лаборатории красоты
                                .col-auto
                                    a(href="").button 
                                        +svg("arrow-up")
                .swiper-slide
                    .card-slider-two 
                        .card-slider-two__preview
                            img(src="images/natalya.jpg", alt="")
                        .card-slider-two__main
                            .persona-name Наталия Ткаченко
                            .persona-desc 
                                img(src="images/natalya-icon.svg", alt="") 
                                | Химик косметолог создатель бренда косметики Roz Mary
                            a(href="#").button.w-100 Подробнее
            .swiper-pagination

