{{#issetItems}}
    <div class="brand-catalog-slider-wrapper">
        <div class="brand-catalog-slider-bg">
            <picture class="brand-catalog-slider-bg__picture">
                <source media="(max-width: 767px)" srcset="/local/assets/images/brand/catalog/bg-mobile.png">
                <img src="/local/assets/images/brand/catalog/bg.png" alt="Каталог" class="brand-catalog-slider-bg__img"
                     loading="lazy">
            </picture>
        </div>
        <div class="brand-catalog-slider brand-catalog-slider_active swiper">
            <button class="brand-catalog-slider__arrow brand-catalog-slider__arrow_prev" type="button">
                <img src="/local/assets/images/arrow.png" alt="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="14" fill="none" viewBox="0 0 29 14">
                    <path fill="#fff"
                          d="M.68 7.606a.857.857 0 0 1 0-1.212L6.134.939a.857.857 0 1 1 1.213 1.212L2.497 7l4.85 4.849a.857.857 0 0 1-1.213 1.212L.68 7.606Zm28.063.251H1.286V6.143h27.457v1.714Z"/>
                </svg>
            </button>
            <div class="swiper-wrapper">
                {{#items}}
                    <div class="brand-catalog-slide swiper-slide"{{#filter}}
                         data-filter="{{.}}"{{/filter}}{{#strMainId}} id="{{.}}"{{/strMainId}}>
                        {{#hintIcon}}
                            <div class="brand-catalog-slide-hint-icon-container">
                                <img src="{{.}}" alt="Подсказка" class="brand-catalog-slide__hint-icon" loading="lazy">
                            </div>
                        {{/hintIcon}}
                        {{#image}}
                            <div class="brand-catalog-slide-img-container">
                                {{#hint}}
                                    <div class="brand-catalog-hint">
                                        <div class="brand-catalog-hint-marker">
                                            <div class="brand-catalog-hint-marker__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="10"
                                                     viewBox="0 0 4 10"
                                                     fill="none">
                                                    <path fill="#5A5276"
                                                          d="m.779 9.348.985-.772-.213-4.332-1.162-.76 2.7-.458-.483 5.035 1.35.841-3.177.446Zm2.379-7.84a.871.871 0 0 1-.075.357c-.05.109-.12.207-.208.295-.087.084-.188.15-.3.2a1.02 1.02 0 0 1-.735 0 .97.97 0 0 1-.295-.2 1.084 1.084 0 0 1-.201-.295.871.871 0 0 1-.076-.358c0-.13.025-.249.076-.358a.97.97 0 0 1 .2-.295A.884.884 0 0 1 1.84.66a.946.946 0 0 1 .734 0 .956.956 0 0 1 .509.49c.05.108.075.227.075.357Z"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="brand-catalog-hint__text">{{{.}}}</div>
                                    </div>
                                {{/hint}}
                                <img src="{{src}}" alt="{{alt}}" class="brand-catalog-slide__img" loading="lazy">
                            </div>
                        {{/image}}
                    </div>
                {{/items}}
            </div>
            <button class="brand-catalog-slider__arrow brand-catalog-slider__arrow_next" type="button">
                <img src="/local/assets/images/arrow.png" alt="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" fill="none" viewBox="0 0 30 28">
                    <path fill="#fff"
                          d="M28.972 14.884a.857.857 0 0 0 0-1.213l-5.455-5.454a.857.857 0 0 0-1.212 1.212l4.849 4.849-4.849 4.848a.857.857 0 0 0 1.212 1.212l5.455-5.454Zm-28.063.25h27.457V13.42H.91v1.715Z"/>
                </svg>
            </button>
        </div>
    </div>
{{/issetItems}}