{{#issetItems}}
    <div class="catalog-slider-wrapper">
        {{#title}}
            <div class="catalog-slider__title">{{{.}}}</div>
        {{/title}}
        <button class="catalog-slider__arrow catalog-slider__arrow_prev" type="button">
            <img src="/local/assets/images/arrow.png" alt="prev" loading="lazy">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="14" fill="none" viewBox="0 0 29 14">
                <path fill="#fff"
                      d="M.68 7.606a.857.857 0 0 1 0-1.212L6.134.939a.857.857 0 1 1 1.213 1.212L2.497 7l4.85 4.849a.857.857 0 0 1-1.213 1.212L.68 7.606Zm28.063.251H1.286V6.143h27.457v1.714Z"/>
            </svg>
        </button>
        <button class="catalog-slider__arrow catalog-slider__arrow_next" type="button">
            <img src="/local/assets/images/arrow.png" alt="next" loading="lazy">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" fill="none" viewBox="0 0 30 28">
                <path fill="#fff"
                      d="M28.972 14.884a.857.857 0 0 0 0-1.213l-5.455-5.454a.857.857 0 0 0-1.212 1.212l4.849 4.849-4.849 4.848a.857.857 0 0 0 1.212 1.212l5.455-5.454Zm-28.063.25h27.457V13.42H.91v1.715Z"/>
            </svg>
        </button>
        <div class="catalog-slider swiper">

            <div class="swiper-wrapper">
                {{#items}}
                    {{>catalog-card}}
                {{/items}}
            </div>
            <div class="catalog-slider-pagination"></div>
        </div>
    </div>
{{/issetItems}}