{{#issetItems}}
    <div class="delivery-list">
        {{#items}}
            <div class="delivery-list-item"{{#strMainId}} id="{{.}}"{{/strMainId}}>
                <div class="delivery-list-item-content">
                    {{#title}}
                        <div class="delivery-list-item__title">{{{.}}}</div>
                    {{/title}}
                    {{#text}}
                        <div class="delivery-list-item__text article">{{{.}}}</div>
                    {{/text}}
                </div>
                <div class="delivery-list-item-frame">

                </div>
            </div>
        {{/items}}
    </div>
{{/issetItems}}