.brand-tech-slider
  margin: 32px 0
  padding-bottom: 36px
  border-radius: 8px
  overflow: unset

.brand-tech-slide
  width: auto
  height: 278px
  border-radius: 8px

.brand-tech-slide__img
  width: auto
  height: 100%


.brand-tech-slider .brand-tech-progress
  top: 100%
  height: 4px
  border-radius: 4px
  background-color: #F4F4F4
  margin-top: 32px

  .swiper-pagination-progressbar-fill
    display: block
    transform-origin: left center
    height: 100%
    background-color: $violet-color
    border-radius: 4px

.brand-tech-progress_lock
  display: none

+mq(tablet)
  .brand-tech-slide
    height: 470px

  .brand-tech-slider .brand-tech-progress
    display: none

+mq(wide-screen)
  .brand-tech-slider
    margin: 40px 0

  .brand-tech-slide
    height: 571px
