.button
  border-radius: 8px
  text-align: center

.button_filled-bg
  position: relative
  overflow: hidden
  z-index: 0

.button__bg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -2

.button_filled-violet
  color: #fff
  background-color: #998BC4
  background-blend-mode: luminosity, normal

.button_linear-violet
  color: #9080BF
  border: 1px solid #9080BF

+mq(desktop)
  .button_filled-violet
    position: relative
    overflow: hidden

  .button_filled-violet:before
    content: ''
    position: absolute
    width: 100px
    height: 56px
    top: 0
    right: calc(0% - 100px)
    transform: rotate(45deg) scaleY(2.4)
    background: linear-gradient(90deg, #FFFFFF00 5%, #D8D4E4 45%, #D8D4E4 55%, #FFFFFF00 95%)
    transition: $default-transition
    opacity: 0
    z-index: -1

  .button_filled-violet:hover:before
    animation: smart-animate
    animation-duration: 5s
    animation-timing-function: ease-in-out
    animation-iteration-count: infinite

@keyframes smart-animate
  0%,
  100%
    opacity: 0.3
    transform: rotate(45deg) scaleY(2.4)
    right: calc(0% - 100px)

  50%
    opacity: 0.3
    transform: rotate(-45deg) scaleY(2.4)
    right: 50%