mixin reviews-slider
    .reviews-section
        .row.align-items-center.mb-4
            .col-lg
                .section-title.text-lg-start.mb-0 Отзывы 
                    span Roz Mary
            .col-lg-auto
                .reviews-info
                    img(src="images/reviews-img.png", alt="")
                    .reviews-info__desc 
                        strong Тысячи довольных <br>клиентов 
                        | со всего мира
        .reviews-slider
            