.reviews-info {
    background: #F5F6F8;
    box-shadow: inset 0px 4px 42px rgba(255, 255, 255, 0.16);
    border-radius: 94px;
    max-width: 524px;
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    margin: 0 auto;

    &__desc {
        font-size: 18px;
        line-height: 1.3;

        strong {
            font-weight: 600;
        }
    }
}

.reviews-slider {
    background: url("../images/reviews-slider-bg.jpg");
    height: 805px;
}

.reviews-section {
    margin-bottom: 129px;
    display: none;
}